.home_firstpage {
  height: 110vh;
  width: 100%;
  margin-bottom: 5rem;
  position: relative;
  .home_firstpage_wrapper {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .first_top {
      height: 90%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // position: relative;
      text-align: center;
      .top {
        // height: 65vh;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        // position: relative;
        // margin-top: 10rem;
        .video {
          // width: 99vw;
          // height: 100vh;
          // width: 61vw;
          height: 80vh;
          // overflow: hidden;
          outline: none;
          border: none;
          .animated_div {
            position: absolute;
            bottom: 0rem;
            left: 18%;
            width: auto;
            height: 10rem;
            opacity: 1;
            &::after {
              content: "";
              position: absolute;
              width: 2px;
              height: 10rem;
              background-color: #fff;
              left: 47%;
              top: 0;
            }
            .trip_types {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              color: white;
              div {
                width: 50%;
                height: 100%;
              }
              div:nth-child(1) {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 6rem;
                p {
                  font-size: 3rem;
                  font-weight: 400;
                  text-transform: uppercase;
                  text-align: center;
                }
              }
              div:nth-child(2) {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-evenly;
                padding: 0 2rem;
                margin-left: 10rem;
                // position: relative;
                p {
                  font-size: 1.7rem;
                  font-weight: 400;
                }
              }
            }
          }
          .hide_animated_div {
            display: none;
          }
          .react-player {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .hide {
            opacity: 0;
          }
          span {
            position: absolute;
            top: 0;
            left: 0rem;
            width: auto;
            height: 100%;
            margin: 0;
            font-size: 25rem;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            line-height: 20rem;
            background: #fff;
            color: #000;
            mix-blend-mode: screen;
            padding: 10rem 0;
            // font-family: "Rammetto One", cursive;
            // font-family: 'Rubik Mono One', sans-serif;
            // font-family: 'Bungee';
            // font-family: 'Sriracha', cursive;
            font-family: "Sansita", sans-serif;
            letter-spacing: 3rem;
          }
        }
        .fadeUP {
          transform: translateY(-100vh);
          transition: all 3500ms linear;
          font-size: 3rem;
          opacity: 0;
        }
        .fadeUPText {
          transform: translateY(-100vh);
          transition: all 2500ms linear;
          font-size: 1rem;
          right: 0;
        }
        .top_circle {
          position: absolute;
          top: 18rem;
          right: 2rem;
          border: 2px solid black;
          border-radius: 50%;
          height: 18rem;
          width: 18rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          transform: rotate(-10deg);
          justify-content: space-evenly;
          .top_circle_img_div {
            height: 40%;
            width: 40%;
            border-radius: 50%;
            border: 2px solid black;
          }
          .top_circle_text {
            font-size: 1.5rem;
            font-weight: bolder;
            font-family: cursive;
          }
        }
      }
      .bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        .right {
          transition: all 2000ms linear;
          display: none;
        }
      }
    }
    .scrolled {
      transition: transform 1000ms linear;
      transform: translateY(7vh);
      transition: opacity 3000ms linear 1000ms;
      animation: video 3800ms ease-in forwards 1;
    }
    .scroll_down {
      font-size: 0rem;
      color: black;
      width: 100%;
      margin-top: 3rem;
      font-weight: bolder;
      position: relative;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      animation: scroll 1000ms ease infinite alternate;
      &:before {
        content: "";
        position: absolute;
        height: 30px;
        width: 2px;
        top: -8rem;
        left: 50%;
        background-color: black;
        cursor: pointer;
      }
      .scrollText {
        position: absolute;
        height: 30px;
        // width: 2px;
        top: -12rem;
        left: 47%;
        font-size: 1.5rem;
        text-decoration: none;
        color: black;
      }
    }
    .hide {
      display: none;
    }
    .bottom {
      height: 10%;
      z-index: 111;
      p {
        font-size: 2rem;
        text-align: justify;
        color: black;
        letter-spacing: 0.3rem;
      }
    }
  }
}

@media (max-width: 1100px) {
  .home_firstpage {
    width: 100%;
    .home_firstpage_wrapper {
      width: 100%;
    }
  }
}
@media (max-width: 700px) {
  .home_firstpage {
    .home_firstpage_wrapper {
      .first_top {
        .top {
          h1 {
            font-size: 13rem;
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .home_firstpage {
    .home_firstpage_wrapper {
      .first_top {
        .top {
          h1 {
            font-size: 11rem;
          }
        }
      }
    }
  }
}
